@model ProjectHandler.ViewModels.ProjetViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Project</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(p => p.Projet.Name)
        @Html.TextBoxFor(p => p.Projet.Name, new { @class = "form-control", @id = "txtName" })
        @Html.ValidationMessageFor(p => p.Projet.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(p => p.Projet.Description)
        @Html.TextBoxFor(p => p.Projet.Description, new { @class = "form-control", @id = "txtDescription" })
        @Html.ValidationMessageFor(p => p.Projet.Description)
    </div>

    <div class="form-group">
        @Html.LabelFor(p => p.Projet.Domaine.Id)
        @Html.DropDownListFor(p => p.Projet.Domaine.Id, new SelectList(Model.Domaines, "Id", "Name"), "Select Domaine", new { @class = "form-control", @id = "txtDomaine" })
        @Html.ValidationMessageFor(p => p.Projet.Domaine.Id)
    </div>


    @Html.HiddenFor(p => p.Projet.Id, new { @id = "hid" })
    @Html.AntiForgeryToken()
    <button type="submit" id="btnEdit" class="btn btn-primary">Save</button>
}
@section scripts
{
    <script>

    $(document).ready(function () {
        $("#btnEdit").click(function () {
            alert("hello");
            var domaine = $("#txtDomaine").val();
            alert(domaine);
            var lien = "/api/projet/" + $("#hid").val()
            alert(lien);
            var dt = new Date();
            var time = dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();//get current datetime
            $.ajax(
            {
                url: "/api/projet/UpdateProjet" + $("#hid").val(), // Controller/View
                method: "PUT", //HTTP PUT Method
                data: JSON.stringify({ //Passing data
                    Name: $("#txtName").val(), //Reading text box values using Jquery
                    Description: $("#txtDescription").val(),
                    DomaineId: $("#txtDomaine").val(),
                    CreePar: "concepteur",
                    CreeLe: time
                }),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    alert("Succes");
                    var url = "/Projets/List";//redirection to List after save
                    window.location.href = url;
                },
                error: function () {
                    alert("error");
                }

            });
        });
    });

    </script>
}

